/*  your css code here. If applicable */
.card {
	width: 300px;
	padding: 20px;
	background-color: #f5f5f5;
	box-shadow: 12px 12px 10px 20px rgba(0,0,0,0.08);
	text-align: center;
}
.card img {
	width: 100%;
}
button {
	display: inline-flex;
	padding: 5px 12px;
	background-color: orange;
	color: #fff;
	border-radius: 10px;
	border: none;
	outline: none;
}